.guildDiv {
    display: inline-block;
    position: relative;
    width: 350px;
    margin: 5px;
    padding: 10px;
    border: solid 2px gray;
    background-color: #23272a;
}

.guildData {
    float: left;
}

.guildButtons {
    float: right;
}

.guildButton {
    margin: 5px;
    cursor: pointer;
}

.configModal {
    max-width: 1600px;
    max-height: 1000px;
    width: 90%;
    height: 100%;
}

.configTextArea, .configTextArea:focus {
    height: 750px;
    max-height: 75%;
    background-color: #2c2f33;
    color: white;
}

.modalButton {
    color: white;
    background-color: #23272a;
}